# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
.venv/

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Environment/config files
.env

